/* Remove margens, preenchimentos, borsas indesejadas */
* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden; /* Remove barras laterais */
}

/* ============================ Estilo cabeçalho ============================ */
header    
{
    background-color: #735ae5;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.titulo{
    color: rgb(255, 255, 255);
    font-size: 27px;
    font-family: 'ND Logos';
    text-align: center;

}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1vw;

}

.links a {
    text-decoration: none;
    color: #dddce7;

}

/* ========================================================================== */


/* ============================ Estilo main ================================= */
.main{
    display: flex;

}

/* centralizar e deixar a iamgem sustentavel */
.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.formGrupo{
    padding: 5vw 0vw;
    justify-content: left;
    align-items: center;

}


/* centraliza forms */
.formGrupo{
    display: inline-block;
    align-items: center;
    margin: 5% 20%;
    font-family: 'Play', sans-serif;
    font-size: 25px;
}
label {
    text-align: left;
    font-family: 'Play', sans-serif;

}
.formGrupo2{
    margin: 0vw 0vw;
    padding: 0vw 1.4vw;
    
}

/* borda e detalhes dos campos */
input, textarea {
    flex: 2;   
    padding: 5px 20px;  
    border: 1px solid #ccc; /* adiciona borda nos campos */
    font-family: 'Times New Roman', Times, serif;
}

.doa{
    text-align: center;
    font-size: 80%;
    color: rgb(137, 137, 137);
    font-family: 'Times New Roman', Times, serif;

}

.botaoEnviar,
.botaoLimpar{
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    background-color: #735ae5;
    color: white;
    transition: background-color 0.3s ease;
    font-family: 'Play', sans-serif;


}

/* Lista do formulario */

#listaItens {
    align-items: center;
    border: 1px solid #03161C; /* Adiciona uma borda */
    border-radius: 15px; /* Define o raio dos cantos */
    padding: 2vw 5vw; /* Adiciona um espaçamento interno */
    margin: 2vw 2vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
    font-family: 'Play', sans-serif;
}

li{
    margin-top: 2vw;
    margin: 2vw;

}

.botaoExcluirItem {
    position: absolute;
    right: 10px; /* Ajuste a posição direita conforme necessário */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%);
    z-index: 1; /* Garante que o botão esteja acima dos itens da lista */
    font-size: 16px;
    border: 5px #B70026;
    border-radius: 4px;
    background-color: #B70026;
    color: white;
    transition: background-color 0.3s ease;
    font-family: 'Play', sans-serif;
}

#listaItens li {
    position: relative;
    padding-right: 20px; /* Ajuste o padding para dar espaço ao botão de exclusão */
    /* Seu restante de estilos... */
}

.botaoLimparLista,
.botaoPesquisa {  
    margin: 0px 10px;
    margin-top: 3vw;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    background-color: #735ae5;
    color: white;
    transition: background-color 0.3s ease;
    font-family: 'Play', sans-serif;

}

.botaoExcluirItem:hover {
    background-color: #CF1E34;
}
.botaoEnviar:hover,
.botaoLimpar:hover,
.botaoLimparLista:hover {
    background-color: #221891;
}


/* ========================================================================== */


/* ============================ Estilo rodapé =============================== */

/* cor, fonte, alinhamento, tamanho */
.footer {

    /* fixa rodapé em baixo da pagina */
    bottom: 0;
    left: 0;
    width: 100%;
    background: #11096f;
    font-family: 'Play', sans-serif;
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    padding: 20px 0px; /* Tamanho da grade do rodapé */
    min-height: 100px; /* Defina a altura mínima desejada */
}

/* cor da fonte, preencher janela, tamanho da fonte */
.footer .row {
    color: antiquewhite;
    width: 100%;
    font-size: large;
    text-align: center; /* Centraliza o conteúdo verticalmente */

    display: inline-block;
    margin: 0px 5px; /* Ajuste a margem entre os itens das informaçoes */
    text-align: center;

}


/* contetudo da descrição do rodapé */
.desc {           
    color: rgb(209, 207, 205);
    width: 100%;
    font-family: sans-serif;
    font-size: medium;
    text-align: center; /* Centraliza o conteúdo verticalmente */
    
}

/* cor contato */
h2{
    color: #7859ff;

}

/* Deixa o link branco e com efeito ao passar o mouse */
.footer .row a {
    text-decoration: none;
    color: rgb(255, 245, 108);
    transition: 0.2s;

}

/* Muda de cor ao passar o mouse */
.footer .row a:hover {
    color: #3ab6eb;

}

/* ========================================================================== */
